<ion-header>
  <ion-toolbar >
    <ion-buttons left *ngIf ="viewedMenu==='patient'">
        <button ion-button icon-only (click)="openMenu('patient')">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons left *ngIf ="viewedMenu=='doctor'">
        <button ion-button icon-only (click)="openMenu('doctor')">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>