<ion-header>
  <ion-toolbar >
    <ion-buttons left *ngIf ="viewedMenu==='patient'">
        <button ion-button icon-only (click)="openMenu('patient')">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons left *ngIf ="viewedMenu=='doctor'">
        <button ion-button icon-only (click)="openMenu('doctor')">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
<ion-content padding class="mainContent"> 

  <div >

<ion-grid >
  <ion-row>
    <ion-col class="mainContainer">
        <div >
            <img src="assets/imgs/consultation.png" alt="1">
            <ion-label>Consultation / Appointment</ion-label>
  
            </div>
    </ion-col>
    <ion-col class="mainContainer">
        <div >
          
            <img src="assets/imgs/delieveryofmedicines.png" alt="1">
            <ion-label>Delivery of Pharmaceutical</ion-label>
  
            </div>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col class="mainContainer">
          <div >
          
              <img src="assets/imgs/mapview.png" alt="1">
              <ion-label>Hospitals Map View</ion-label>
    
              </div>
      </ion-col>
      <ion-col class="mainContainer">
          <div >
          
              <img src="assets/imgs/labmap.png" alt="1">
              <ion-label>Labs Map View</ion-label>
    
              </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="mainContainer">
            <div >
          
                <img src="assets/imgs/delieveryoflabreports.png" alt="1">
                <ion-label>Delivery of Lab Reports</ion-label>
      
                </div>
        </ion-col>
        <ion-col class="mainContainer">
            <div >
          
                <img src="assets/imgs/labguides.png" alt="1">
                <ion-label>Lab Guides</ion-label>
      
                </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="mainContainer">
              <div >
          
                  <img src="assets/imgs/alternativemedication.png" alt="1">
                  <ion-label>Alternative Medication</ion-label>
        
                  </div>
          </ion-col>
          <ion-col class="mainContainer">
              <div >
          
                  <img src="assets/imgs/diseaseinformation.png" alt="1">
                  <ion-label>Disease Information</ion-label>
        
                  </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="mainContainer">
                <div >
          
                    <img src="assets/imgs/symptomchecker.png" alt="1">
                    <ion-label>Symptom Checker</ion-label>
          
                    </div>
            </ion-col>
            <ion-col class="mainContainer">
                <div >
          
                    <img src="assets/imgs/dailyhealth.png" alt="1">
                    <ion-label>Daily Health</ion-label>
          
                    </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="mainContainer">
                  <div >
          
                    <img src="assets/imgs/chatgroup.png" alt="1">
                    <ion-label>Chat Group</ion-label>
          
                    </div>
              </ion-col>
              <ion-col class="mainContainer">
                  <div >
          
                      <img src="assets/imgs/medicalgadgets.png" alt="1">
                      <ion-label>Medical Gadget</ion-label>
            
                      </div>
              </ion-col>
            </ion-row>
  </ion-grid>
</div>
</ion-content>
