page-home {

    .mainContainer{

        background:rgb(221, 221, 221);
        margin : 10px;
        border-radius: 1pc;
        


    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 70px;
        

    }
    .mainContent{

        background-image: url("../assets/imgs/background.jpg");
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;         
        
        
    }
    
    ion-label{

        
        white-space: pre-wrap;
        text-align: center;
        font-size: 11px;

    }
}
